<!DOCTYPE <!DOCTYPE html>
<html>

<%- include('pages/layout/head')%>

<%- include('pages/layout/header')%>

<body>
  <h1>FUTURE SITE OF TRAVEL BUDDY</h1>

  <%- include('pages/layout/footer')%>

</body>

</html>