<!DOCTYPE <!DOCTYPE html>
<html>

<%- include('pages/layout/head')%>

<%- include('pages/layout/header')%>

<body>

  <div class="deck">

    <h1>Card Deck</h1>

    <div class="flag">
      <h1>Flag goes here</h1>
    </div>

    <div class="deck-text">
      <h2> COUNTRY NAME</h2>
    </div>

    <div class="deck-button">

      <button type="button" class="select">Select this country</button>

    </div>

  </div>

  <%- include('pages/layout/footer')%>

</body>

</html>