<header>
  <div class="title">

    <h1>Travel Buddy</h1>

  </div>

  <nav>
    <div><img class="burgerpic" src ="../images/big-mac-cropped.png"></div>
        <div class="menu-content">
          <ul>
            <li><a href="/">
              <h3>HOME</h3>
            </a>
            </li>
            <li><a href="/explore">
              <h3>EXPLORE</h3>
            </a>
            </li>
            <!-- <li><a href="/">
              <h3>MY TRIPS</h3>
            </a>
            </li> -->
            <li><a href="/aboutus">
              <h3>ABOUT US</h3>
            </a>
            </li>
            <li><a href="/big-mac-index">
              <h3>BIG-MAC INDEX</h3>
            </a>
            </li>
          </ul>
        </div>
  </nav>

</header>