<div class="deck">

  <h1>
    Last Updated:
  </h1>

  <div class="flag">
    <img src="<%- country.flag_url %>">
  </div>

  <div class="deck-text">
    <h2>
      <%- country.country_name %>
    </h2>
  </div>

  <div class="deck-button">

    <button type="button" class="select">Hotel Options</button>
    <button type="button" class="select">Restaurants</button>
    <button type="button" class="select">Add to My Trips</button>

  </div>

</div>

</body>

</html>