<!DOCTYPE html>
<html>

<%- include('../layout/head')%>


<body>
  <%- include('../layout/header')%>
  <div class="not-mobile">
    <%- include('details', {country, restaurants, hotels})%>
  </div>
  <%- include('../layout/footer')%>

</body>

</html>