<!DOCTYPE html>
<html>

<%- include('../layout/head')%>

<%- include('../layout/header')%>

<body>

  <%- include('details', country)%>

  <%- include('../layout/footer')%>

</body>

</html>