<!DOCTYPE html>
<html>

<%- include('layout/head')%>


<body>
  <%- include('layout/header')%>
  <div class="not-mobile">

    <div class="deck">

      <h1>
        Page Not Found
      </h1>

      <div class="flag">
        <img src="../../images/oops-sign.png">
      </div>

      <div class="deck-text">
        <h2>

        </h2>
      </div>

      <div class="deck-button">

        <a href="/">
          <button class="select">Go Back</button></a>
      </div>

    </div>

  </div>
  <%- include('layout/footer')%>

</body>

</html>