<!DOCTYPE html>
<html>

<%- include('layout/head')%>

<%- include('layout/header')%>

<body>
  <div class="not-mobile">

    <div class="deck">

      <div class="deck-text">

        <h2>David Chambers</h2>

        <img class="profilepic" src="images/davidspic.jpg">
        </br>
        </br>

        <p>
          David is a veteran of the United States Air Force and is currently a full-stack JavaScript developer. He has
          more
          than 25 years of professional leadership experience building teams in both non-profit and for-profit
          industries.
          He's a big picture, high functioning, passionate individual who wants to see his company, its clients, and
          partners
          succeed by achieving their full potential. <br /> <br />

          <a class="profile-links" href="https://www.linkedin.com/in/davidchambersjr/" target="_blank">LinkedIn</a> |
          <a class="profile-links" href="https://github.com/dlchambersjr" target="_blank">Github</a>
        </p>
      </div>

    </div>

    <div class="deck">
      <div class="deck-text">
        <h2>Andrew Fields</h2>
        <img class="profilepic" src="images/andyspic.jpg">
        </br>
        </br>
        <p>Andrew enjoys hanging off skyscrapers and cleaning windows.
          Oh wait, no he doesn’t. That’s why he’s here learning to code.
          So he never has to scrub bird poop off another building. <br /> <br /> <a class="profile-links" href="https://www.linkedin.com/in/andrew-fields-4a2243167/"
            target="_blank">LinkedIn</a>
          | <a class="profile-links" href="https://github.com/AndyFieldsy" target="_blank">Github</a></p>
      </div>
    </div>

    <div class="deck">
      <div class="deck-text">
        <h2>Ryan Milton</h2>
        <img class="profilepic" src="images/ryanspic.jpg">
        </br>
        </br>
        <p>A veteran of the United States Navy and currently a full-stack web developer. Having led teams designed to
          accomplished
          specific tasks, he knows just how to motivate and encourage people from all background to work cohesively.
          His
          journey
          into tech started with tearing computers apart as a child and desinging gadgets with raspberry pis. His next
          step
          is to become a part of your team and drive your company to it's next milestone. <br /> <br /> <a class="profile-links"
            href="https://www.linkedin.com/in/ryan-milton-474945168/" target="_blank">LinkedIn</a>
          | <a class="profile-links" href="https://github.com/Ryan-Milton" target="_blank">Github</a></p>
      </div>
    </div>

  </div>

  <%- include('layout/footer')%>

</body>

</html>