<!DOCTYPE html>
<html>

<%- include('layout/head')%>

<%- include('layout/header')%>

<body>

  <div class="deck">
    <h1> The Big Mac Index</h1>

    <div class="deck-text">
      <p> The Big Mac Index is an informal way of measuring the purchasing power of the US Dollar in foreign countries.
        The Index does this by taking the cost of a Big Macin another country and dividing it by the cost of a Big mac
        in the United States. By doing this you get a visual representation of the cost of a Big Mac in US Dollars in
        the foreign country.</p>
      <p>Find out more at the link below!<br><a href="https://www.statista.com/statistics/274326/big-mac-index-global-prices-for-a-big-mac/"
          target="_blank">Big Mac Index</a></h2>
    </div>

  </div>

  <%- include('layout/footer')%>

</body>

</html>