  body {
    background-image: url('../images/passport-bkg.jpg');
    background-color: lightskyblue;
  }

  header{
    height: 100px;
    background-image: url('../images/worldmap-mobile.jpg');
    background-color:darkgray;
    box-shadow: 3px 3px 2px black;
    display: flex;
    align-items:center;
    /* justify-content: space-between; */
    font-family: 'Baloo Tamma', cursive;
  }

  h1 {
    font-size: 300%;
  }

  h2 {
    font-size: 125%;
    font-weight: bold;
  }
  


/* ============================
BEGIN TABLET/DESKTOP SCREENS
============================ */

@media screen and (min-width: 481px) {
  
  body {
    background-image: none;
    background-color: purple;
    color: red;
    font-family: 'Roboto', sans-serif; 
  }
  
  header {
    font-family: 'Baloo Tamma', cursive;
    
  }
  
}