/* BEGIN MOVILE SCREEN */
@media screen and (max-width: 480px) {

  body {
    background-image: src('../images/passport-bkg.jpg');
    background-color: lightskyblue;
  }

  header{
    Background-color: orange;
    color: navy;
    border: 2px solid black;
    font-family: 'Baloo Tamma', cursive;
  }

  h1 {
    font-size: 200%;
  }


}



/* ============================
BEGIN TABLET/DESKTOP SCREENS
============================ */

@media screen and (min-wdith: 481px) {
  
  body {
    Background-color: white;
    color: red;
    font-family: 'Roboto', sans-serif; 
  }
  
  header {
    font-family: 'Baloo Tamma', cursive;
  }

  
}