  body {
    background-image: url('../images/passport-bkg.jpg');
    background-color: lightskyblue;
  }

  header{
    height: 100px;
    background-image: url('../images/worldmap-mobile.jpg');
    background-color:darkgray;
    box-shadow: 8px 3px 4px black;
    display: flex;
    align-items:center;
    /* justify-content: space-between; */
    font-family: 'Baloo Tamma', cursive;
  }

  h1 {
    font-size: 250%;
    font-family: 'Acme', sans-serif;
  }

  h2 {
    margin: 10px auto;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    /* font-family: 'Roboto', sans-serif; */
    line-height: 110%;
    letter-spacing: 2px;
    color: white;
  }

  h3 {
    color:#034f84;
    background-color: #92a8d1;
    opacity:.75;
  }
  .profilepic {
    width:100%;
    border-radius: 10px;
  }

/* ============================
BEGIN TABLET/DESKTOP SCREENS
============================ */

@media screen and (min-width: 481px) {

   
  header {
    font-family: 'Baloo Tamma', cursive;
    
  }
  
}