/* HEADER */

.title {
  width: 75%;
  margin-left:10px;
  /* border:1px solid black; */
  text-align: center;
}

nav {
    width:25%;
    margin-right:10px;
    display:flex;
    justify-content: flex-end;
}

.hamburger-menu {
  width: 75%;
  height:50%;
  /* border:1px solid black; */
}

/* COUNTRY DECK */

.deck {
  width:75%;
  margin: 60px auto 0px auto;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.60);
  box-shadow: 10px 10px 15px  rgba(0, 0, 0, 0.75);
  
  }

  .deck h1 {
    margin: 10px 0px 10px 10px;
    color:white;
    font-weight:bold;
  }

.flag {
  width: 75%;
  margin: 25px auto 25px auto;
}

.flag img {
  width: 100%;
}

.deck-text {
  width: 75%;
  margin: 0px auto 25px auto;
  color:white;
}

.deck-button {
  width: 75%;
  height: 50px;
  margin: 0px auto 25px auto;
  text-align: center;
}



.select {
  margin:5px auto;
  padding: 0 20px;
  border: none;
  box-shadow: 2px 2px 1px grey;
  background-color: rgb(22, 96, 192);
  font-family: 'Roboto', sans-serif;
  font-size: 125%;
  color: white;
}

.detail-data {
  width:75%;
  margin: 0px auto 20px auto;
  /* border: 1px solid lightskyblue; */
}

.detail-name {
  margin: 20px auto 20px auto;
  padding: 5px;
  border: 1px solid lightskyblue;
  text-align: center;
}

.detail-name {
  margin-bottom: 10px;
  color: white;
}

.rating-price {
  margin-bottom: 10px;
  color: lightgoldenrodyellow;

}


.hide {
display:none;
}

/* .show {
   

} */


/* ============================
BEGIN TABLET/DESKTOP SCREENS
============================ */

@media screen and (min-width: 481px) {
 .flag {
   background-color:blue;
   height:500px;
 }
  
}