/* HEADER */

.title {
  width: 75%;
  margin-left:10px;
  border:1px solid black;
}

nav {
    width:25%;
    margin-right:10px;
    display:flex;
    justify-content: flex-end;
}

.hamburger-menu {
  /* width: 100%; */
  height:50%;
  border:1px solid black;
}

/* COUNTRY DECK */

.deck {
  width:75%;
  margin: 60px auto 0px auto;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px grey;
  
  }

  .deck h1 {
    margin: 5px 0px 0px 5px;
    color:white;
    font-weight:bold;
  }

.flag {
  width: 75%;
  height:150px;
  margin: 25px auto 25px auto;
  /* border :2px solid black; */
  /* box-shadow: 3px 3px 3px lightgray; */
}

.flag img {
  width: 100%;
}

.deck-text {
  width: 75%;
  margin: 0px auto 25px auto;
  color:white;
}

.deck-button {
  width: 75%;
  height: 50px;
  margin: 0px auto 50px auto;
  text-align: center;
}

.select {
  margin:5px auto;
  border: none;
  box-shadow: 2px 2px 1px grey;
  background-color: rgb(22, 96, 192);
  font-family: 'Baloo Tamma', cursive;
  font-size: 125%;
  color: white;
}


/* ============================
BEGIN TABLET/DESKTOP SCREENS
============================ */

@media screen and (min-width: 481px) {
 .flag {
   background-color:blue;
   height:500px;
 }
  
}